# Database
DATABASE_URL="file:./dev.db"

# DataImpulse Proxy
PROXY_HOST=proxy.whats代理ip.com
PROXY_USERNAME=your_username
PROXY_PASSWORD=your_password

# 2Captcha
TWO_CAPTCHA_API_KEY=your_2captcha_api_key

# Apollo Account
APOLLO_EMAIL=your_email@example.com
APOLLO_PASSWORD=your_password